/cmake-build-debug/
/cmake-build-debug/assets/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/Arial.ttf
/cmake-build-debug/burning_forest
/cmake-build-debug/burning_forest.cbp
/cmake-build-debug/burning_forest.exe
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/openal32.dll
/cmake-build-debug/sfml-audio-2.dll
/cmake-build-debug/sfml-audio-d-2.dll
/cmake-build-debug/sfml-graphics-2.dll
/cmake-build-debug/sfml-graphics-d-2.dll
/cmake-build-debug/sfml-network-2.dll
/cmake-build-debug/sfml-network-d-2.dll
/cmake-build-debug/sfml-system-2.dll
/cmake-build-debug/sfml-system-d-2.dll
/cmake-build-debug/sfml-window-2.dll
/cmake-build-debug/sfml-window-d-2.dll
/cmake-build-debug/CMakeFiles/3.17.5/
/cmake-build-debug/CMakeFiles/burning_forest.dir/
/cmake-build-debug/CMakeFiles/CMakeTmp/
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
